.header
  &__container
    display: flex
    flex-wrap: wrap
    justify-content: space-between    
  &__design
    display: flex
    flex-direction: column    
    max-width: 585px
    max-height: 478px
    font-family: Roboto Condensed, sans-serif
    font-weight: Bold
    font-size: 48px
    line-height: 60px 
    margin-top: 31px
    margin-left: 3px
    &-text 
      color: #FAAD13
      margin-top: 5px
      padding-top: 5px
      padding-bottom: 0    
    &-psy-text
      color: #183B56
      max-width: 443px 
      padding-top: 0
      padding-bottom: 5px
      margin-top: 2px 
      margin-bottom: 2px
  &__bookjanga
    display: block
    &-header
      font-family: Roboto, sans serif
      font-weight: 500px
      font-size: 20px
      line-height: 24px
      color: #183B56
      margin-top: 5px
    &-text 
      font-family: Open Sans, sans serif
      font-weight: 400
      font-size: 18px
      line-height: 32px
      color: #5A7184
  &__button 
    width: 209px  
    height: 58px
    border-radius: 8px
    font-family: Open Sans, sans serif
    font-weight: 700 
    line-height: 22px
    font-size: 16px     
    cursor: pointer
    border-width:  2px
    border-color: #1565D8 
    &-by      
      background-color: #1565D8
      color: #ffff
    &-red
      background-color: none
      color: #1565D8

  &__psybook 
    background-color: #B3BAC5
    &-bookpsyimage
      margin: 100px 118px 80px    